<!-- Header -->
<h1><a href="index.html">DION BEDFORD</a></h1>
			<div id="header-wrapper">
					
				<div id="header">

					<!-- Banner -->
						<section id="banner">
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<a href="{{site.baseurl}}/pages/ux.html" style="text-decoration: none;">
											<i class="icon featured fa-user"></i>
											<header>
												<h2>UX</h2>
											</header>
										</a>
										<p>This section expands on the user experience project. It's Focused On working around Adobe Photoshop and Andobe Illustrator.</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<a href="{{site.baseurl}}/pages/video.html" style="text-decoration: none;">
											<i class="icon featured alt fa-camera"></i>
											<header>
												<h2>Video</h2>
											</header>
										</a>
											<p>This section expands on the user video. It's Focused On working around Adobe After Effects.</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<a href="{{site.baseurl}}/pages/animation.html" style="text-decoration: none;">
											<i class="icon featured alt2 fa-pencil"></i>
											<header>
												<h2>Animation</h2>
											</header>
											</a>
											<p>This section expands on the Animation project. It's Focused On working around Adobe Illustrator and Adobe Animate.</p>
									</section>
								</div>
								<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet laudantium voluptates pariatur fugit. Quos assumenda autem recusandae modi vero veritatis in, delectus sunt facilis atque sed fugit porro a sequi.</p>
							</div>
						</section>

				</div>
			</div>